<h1 class="animeted fadeIn fast">about heroes!</h1>
<hr />
<div>
  It uses utility classes for typography and spacing to space content out within the larger container.
  It uses utility classes for typography and spacing to space content out within the larger container.
  It uses utility classes for typography and spacing to space content out within the larger container.
  It uses utility classes for typography and spacing to space content out within the larger container.
  It uses utility classes for typography and spacing to space content out within the larger container.
  It uses utility classes for typography and spacing to space content out within the larger container.
</div>
