<h1 class="m-5">News <small class="text-muted">{{date | date: 'yyy/MM/dd'}}</small></h1>

<div class="card-columns">

  <!--<div class="card" *ngFor="let heroe of heroes; let i = index">
    <img src="{{heroe.img}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
      <button class="btn btn-primary btn-block" (click)="verHeroe(i)">
        Ver más
      </button>
      <a [routerLink]="['/heroe',i]" class="btn btn-primary btn-block">Ver más</a>
    </div>
  </div>-->
  <div class="card" *ngFor="let article of items[0]; let i = index">
    <img src="{{article.urlToImage}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.author}}</p>
      <p class="card-text"><small class="text-muted">{{article.publishedAt | date: 'dd/MM/yyyy'}}</small></p>
      <!--<button class="btn btn-primary btn-block" (click)="verHeroe(i)">
        Ver más
      </button>-->
      <a href="{{article.url}}" class="btn btn-primary btn-block">Ver más</a>
    </div>
  </div>
</div>

