<h1 class="m-4">News <small class="text-muted">{{date | date: 'yyy/MM/dd'}}</small></h1>

<div class="card-columns">

  <div class="card" *ngFor="let article of items[0]; let i = index">
    <img src="{{article.urlToImage}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.author}}</p>
      <p class="card-text"><small class="text-muted">{{article.publishedAt | date: 'yyy/MM/dd'}}</small></p>
      <a href="{{article.url}}" class="btn btn-primary btn-block">Ver más</a>
    </div>
  </div>
</div>

